<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>279682459580-ji5dql53tccametsr66kvbk1pggitja1.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.279682459580-ji5dql53tccametsr66kvbk1pggitja1</string>
	<key>API_KEY</key>
	<string>AIzaSyBuw_LvuTZ3RFQmXTvFlD1rJAshIEVHK2o</string>
	<key>GCM_SENDER_ID</key>
	<string>279682459580</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>StormShadow058.BasicLoginUI</string>
	<key>PROJECT_ID</key>
	<string>basicloginui-a2d49</string>
	<key>STORAGE_BUCKET</key>
	<string>basicloginui-a2d49.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:279682459580:ios:0eb9144c8d7cfb65b5adb9</string>
</dict>
</plist>